extends ../layouts/slidebar

mixin topic(topicData)
    .topic= topicData.topic

mixin row(rowData)
    tr
        td= rowData.td
        td= rowData.td
        td= rowData.td
        td= rowData.td
//- head
//-     script(src="/javascript/show-exe-of-topic.js")
//- body
block content    
    .container     
        .wrapper-exe
            a#back(href='/about') Quay lai
            - const t = { topic: 'Chu de 1'}
            +topic(t)
            - const t2 = { topic: 'Chu de 1'}
            +topic(t2)
            - const t3 = { topic: 'Chu de 1'}
            +topic(t3)
            - const t4 = { topic: 'Chu de 1'}
            +topic(t4)
            - const t5 = { topic: 'Chu de 1'}
            +topic(t5)
            //- - const t6 = { topic: 'Chu de 1'}
            //- +topic(t6)
            //- - const t7 = { topic: 'Chu de 1'}
            //- +topic(t7)
            //- - const t8 = { topic: 'Chu de 1'}
            //- +topic(t8)
            //- - const t9 = { topic: 'Chu de 1'}
            //- +topic(t9)
            //- - const t10 = { topic: 'Chu de 1'}
            //- +topic(t10)
            table.showOneTopic
                tr.spaceUnder
                    th STT
                    th Chu de
                    th Link
                    th Trang thai
    
                - const r1 = {td: '1'}
                +row(r1)
                tr.spaceUnder
                    td 2
                    td Chu de 1
                    td https://thisislink.example.xyz
                    td Chua cham    
                tr.spaceUnder
                    td 3
                    td Chu de 1
                    td https://thisislink.example.xyz
                    td Chua cham 
                tr.spaceUnder
                    td 4
                    td Chu de 1
                    td https://thisislink.example.xyz
                    td Chua cham
                tr.spaceUnder
                    td 5
                    td Chu de 1
                    td https://thisislink.example.xyz
                    td Chua cham               

    script(src="/javascript/main.js")           
